
<<<<<<< HEAD

<div id="itemalert" class="alert alert-success fade show" role="alert">
	<p>{{name}}  Item added to cart.</p>
</div>

=======
<div class="center sticky">
    <div id="itemalert" class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Item Added!</p>
    </div>
</div>
>>>>>>> 987ac77f5c44532b2dae55677e44c29bc7ab3e18
