<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content custommodal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>

        <form action="/login" method="post" id="loginForm">
            <label>E-mail:</label><br> <input id="email" name="email" type="email" size="20" required><br>
            <label>Password:</label><br> <input id="pwd" name="pwd" type="password" size="20" required><br>
<<<<<<< HEAD

			<br>
            <a href="/register"><p class="text-dark" >Don't have an account yet?<p></a>
=======
            <br>
            <a data-dismiss="modal" aria-label="Close" data-toggle="modal" href="#exampleModal">Don't have an account yet?</a>
>>>>>>> 987ac77f5c44532b2dae55677e44c29bc7ab3e18
            <div class="modal-footer">
			<div class='alertcontainer'>
					{{>loginalert}}
			</div>
                <button type="button" class="btn btn-secondary-custom" data-dismiss="modal">Close</button>
                <input value="Login" type="submit" form="loginForm" class="btn btn-primary-custom">
            </div>
        </form>
    </div>
      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <!--<button type="submit" form="loginForm" class="btn btn-primary">Login</button>-->
      <!--</div>-->
    </div>
  </div>
</div>