
<<<<<<< HEAD
<div id="signupalert" class="alert custom-alert alert-dismissible fade show" role="alert">
=======

<div id="signupalert" class="alert alert-warning alert-dismissible fade show" role="alert">

>>>>>>> ac5d9baeb446d6f11412f31cf119f85d0933866d
	{{signup_message}}
</div>