<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>AJZ Shoe shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="clientStyle.css">
</head>
<body onload="checkcolorMode()">
{{>nav_bar}}

    <img src="images/Logo.PNG" class="rounded mx-auto d-block" alt="logo">

    <!--Jumbo-->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to AJZ Shoe shop</h1>
            <hr class="my-4">
            <p class="lead">
                <a data-toggle="modal" class="nav-item nav-link " href="#loginModal"><h1>Log in to start shopping</h1></a>
            </p>
        </div>
    </div>
    <!--Jumbo-->


        <div class="wrapper">

        </div>


        {{>footer}}
    <br>

    {{> scripts}}
<!--On redirect launch modal-->

    <script>
        if ({{error}}){
            $(function() {
                $('#loginModal').modal('show');
                $('#loginalert').css('display', 'inline-block');
            });
        }
    </script>
    <script>
        if ({{signup_error}}){
            $(function() {
                $('#exampleModal').modal('show');
                $('#signupalert').css('display', 'inline-block');
            });
        }
    </script>

    <script>
        if ({{admin_error}}){
            $(function() {
                $('#adminModal').modal('show');
                $('#adminalert').css('display', 'inline-block');
        });
        }
    </script>
    <!--Scripts-->
</body>
</html>